{% extends 'base.html' %}
{% block title %}
	COVID 19
{% endblock %}
{% block content %}

<style>
	.title {
		padding: 10px;
		border-radius: 25px;
		font-weight: bold;
		background: #96C5F7;
		font-family: Trebuchet MS;
		text-align: center;
		width: auto;
	}

	.container {
		font-family: Trebuchet MS;
		font-size: 15px;
		text-align: center;
		font-weight: normal;
		
	}
</style>

<body>
	<h1 class="title">What to Do During COVID-19</h1>
	<span class="container">
			{{ titles }}
		</span>
</body>

{% endblock %}